/* Footer */
.footer{
  background-color: var(--secondary-background-color);
}

.footer-container{
  gap: var(--gap);
}

.company-data{
  display: flex;
  flex-direction: column;
  order: 1;
}

.company-description{
  margin-block: var(--margin-sm);
  max-width: 75%;
}

.social-media{
  margin-bottom: var(--margin-md);
}

.copyright-notice{
  opacity: .8;
}

.footer-list{
  flex-direction: column;
  align-items: flex-start;
}

.footer-title{
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
}
